body {
    background: #252d30;
    text-align: center;
    color: white;
    margin: 30px;
}

#search {
    display: inline-block;
    min-width: 10px;
    border-width: 0 0 2px;
    border-color: white;
}

input {
    background: transparent;
    color: white;
    border-width: 0 0 2px;
    border-color: white;
    width: 0ch;
}