body {
    font-family: Tahoma, Geneva, sans-serif;
    text-align: center;
    background: #252d30;
    color: white;
    margin-top: 30px;
    margin-bottom: 30px;

}

#search {
    display: inline-block;
    min-width: 10px;
    border-width: 0 0 2px;
    border-color: white;
    background: transparent;
    color: white;
    width: 0ch;
    font-size: 20px;
}

li {
    list-style-type: none;
    border-bottom: 1px solid #515759;
    padding: 5px;
}

li:hover {
    background: #1B2124;
}

#result {
    margin: 30px;
    font-size: 20px;
}

footer {
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    margin-top: 30px;
    margin-bottom: 30px;
}

footer a {
    color: gray;
    text-decoration: none;
}

footer a:hover {
    color: white;
}