body {
    text-align: center;
    background: #252d30;
    color: white;
    margin: 30px;
}

#search {
    display: inline-block;
    min-width: 10px;
    border-width: 0 0 2px;
    border-color: white;
    background: transparent;
    color: white;
    border-width: 0 0 2px;
    border-color: white;
    width: 0ch;
}

p {
    border-radius: 25px;
    border-color: gray;
    padding: 5px;
}

footer {
    text-align: center;
    position: fixed;
    Width: 100%;
    bottom: 0;
    margin: 30px;
}

footer a {
    color: gray;
    text-decoration: none;
}

footer a:hover {
    color: white;

}